<a routerLink="/{{game._id}}/details">

<div class="card" #cardElement *ngIf="game" [attr.idGame]='game._id' [attr.idGameOwner]="game._ownerId"
[attr.gameCreatedOn]="game._createdOn">
    <div class="item">
        <div class="thumb">
            <a routerLink="/{{game._id}}/details"><img src={{game.imageUrl}} alt={{game.title}}></a>
            <span class="price">${{game.price}}</span>
        </div>
        <div class="down-content">
            <span class="category">{{game.category}}</span>
            <h4>{{game.title}}</h4>
            <a routerLink="/{{game._id}}/details"><i class="fa fa-shopping-bag"></i></a>
        </div>
    </div>
</div>

</a>