
.preloader-inner {
    position: relative;
    width: 142px;
    height: 40px;
    background: transparent;
  }
  
  .preloader-inner .dot {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0px;
    left: 15px;
    background: #0071f8;
    border-radius: 50%;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation: dot 2.8s infinite;
    animation: dot 2.8s infinite;
  }
  
  .preloader-inner .dots {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    -webkit-animation: dots 2.8s infinite;
    animation: dots 2.8s infinite;
  }
  
  .preloader-inner .dots span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    background: #0071f8;
    border-radius: 50%;
  }
  
  