.main-banner{
    padding: 110px 0px;
}


.main-banner .caption{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-banner .caption h3 {
    font-size: 48px;
    color: #fff;
    margin-top: 20px;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 40px;
  }


  .main-banner .caption form input {
    max-width: 450px;
    width: 100%;
    height: 50px;
    outline: none;
    border-radius: 25px;
    background-color: #fff;
    border: none;
    padding: 0px 25px;
    font-size: 14px;
    color: #7a7a7a;
    margin-right: 300px;
  }

  .main-banner .caption form button {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    background-color: #ee626b;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0px 25px;
    border: none;
    border-radius: 25px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .3s;
  }

.arebe {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}