<div class="main-banner">
    <div class="container">
        <div class="caption">
            <div class="col-lg-6 align-self-center">
                <div class="caption">
                    <h3>CATALOG</h3>
                    <div class="search-input">
                        <form (ngSubmit)="onSearch()">
                            <input type="search" type="text" placeholder="Type Something" id='searchText'
                                name="searchKeyword" [(ngModel)]="searchTerm" />
                            <button type="submit" role="button">Search Now</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="section trending">
    <div class="container">
        <div class="arebe" *ngIf="filteredGames.length === 0">
            <app-card *ngFor="let game of allGames" [game]="game" />
        </div>

        <!-- TODO: show apropriate message when not filteredGames are found -->
        <div class="arebe" *ngIf="filteredGames.length > 0">
            <app-card *ngFor="let game of filteredGames" [game]="game" />
        </div>
    </div>
</div>