<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>{{userData.username}}'s PROFILE</h3>
            </div>
        </div>
    </div>
</div>

<section class="author-info">
    <div class="author-card">
        <img src={{userData.avatarUrl}} alt="Author Avatar" class="avatar" />
        <h2 class="username">{{userData.username}}</h2>
        <p class="email"><b>Email:</b> {{userData.email}}</p>
    </div>

    <div class="vl"></div>

    <div class="blog-posts">
        <div class="section trending">
            <h3 class="section-title">Recent Games added by {{userData.username}}:</h3>
            <div class="container">
                <div class="arebe">
                    <app-card *ngFor="let game of userGames" [game]="game" />
                    <ng-container *ngIf='userGames?.length === 0'>
                        <h2>No games added yet.</h2>
                    </ng-container>
                </div>
            </div>
            <h3 class="section-title">Recent Games bought by {{userData.username}}:</h3>

            <div class="container">
                <div class="arebe">
                    <app-card *ngFor="let game of userBoughtGames" [game]="game" />
                    <ng-container *ngIf='userBoughtGames?.length === 0'>
                        <h2>No games boughted yet.</h2>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>


</section>