.login-form {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
  }
 
    
  .login-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
  }
  
  button[type="submit"] {
    background-color: #ee626b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0a58ca;
  }
  
  .field {
    margin-top: 14px;
    font-size: 14px;
    color: black;
  }
  
  .red {
    font-style: italic;
    color: red;
    text-align: center;
  }